@if (profile()) {
<div class="px-4 py-8">
  <div class="flex row">
    @if (profile()?.admin) {
    <button class="flex btn mr-auto" type="button" routerLink="/manage-users" routerLinkActive="['active']">Manage Users</button>
    }
    <button class="flex btn ml-auto" type="button" (click)="logout()">Logout</button>
  </div>
  <div class="flex w-full justify-center">
    <div class="flex items-center justify-center">Welcome to CherryTree Vault Cracking!</div>
  </div>
</div>

<div class="flex px-4 py-8 w-full">
  <activity-switcher class="w-full" [user]="user()" [profile]="profile()"></activity-switcher>
</div>
@if (profile()?.username === 'Litwicker') {
<button
  class="flex btn ml-2 bg-primary text-primary-content hover:bg-secondary hover:text-secondary-content"
  type="button"
  (click)="generateLitSaying()"
>
  Lit's Special Sayings
</button>
@if (activeLitSaying() !== '') {
<div class="ml-4">Litwick is {{activeLitSaying()}}</div>
} } } @else {
<!-- TODO make this another page instead of a component -->
<app-auth></app-auth>
}
