<div class="flex-center justify-center">
  <form [formGroup]="pwReset" class="form-widget mx-4">
    <h1 class="header text-center text-xl m-4">Send Password Reset Email</h1>
    <div>
      <div class="flex row py-1 justify-center">
        <div class="flex items-center pr-2">
          <label for="email">Email:</label>
        </div>
        <input
          type="text"
          id="email"
          formControlName="email"
          class="input border border-base-content bg-base-200 w-48 input-md"
          placeholder="Email Address"
        />
      </div>
    </div>
    <div>
      <button
        class="flex btn mx-auto bg-primary text-primary-content hover:bg-secondary hover:text-secondary-content"
        type="submit"
        (click)="sendPasswordReset()"
      >
        Send Email
      </button>
    </div>
  </form>
</div>
