@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

::view-transition-old(sub-view),
::view-transition-new(sub-view) {
  animation-duration: 100ms;
  @apply transition-opacity transform;
}

html,
body {
  @apply bg-base-100 text-base-content;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
